button.wrap {
    clip-path: polygon(var(--rb) 0, 100% 0, 100% calc(100% - var(--rb)), calc(100% - var(--rb)) 100%, 0 100%, 0 var(--rb));
    background-image: radial-gradient(119.98% 176.69% at 84.00% -4.95%, rgba(170, 214, 255, 0.81) 0%, rgba(170, 214, 255, 0.81) 0.01%, #0066FE 100%);
}
div.inner-border {
    $wb: 2px;
    clip-path: polygon(0% var(--rb), var(--rb) 0%, 100% 0%, 100% calc(100% - var(--rb)), calc(100% - var(--rb)) 100%, 0% 100%, $wb calc(100% - $wb), calc(100% - var(--rb)) calc(100% - $wb), calc(100% - $wb) calc(100% - var(--rb)), calc(100% - $wb) $wb, calc(var(--rb)) $wb, $wb calc( var(--rb)),$wb calc(100% - $wb), 0% 100%);
background-color: #7379FF
}